//output:index.html
doctype html
head
  title Test repo | My first repository
body
  h1 Test repo
  h2 It's my first repository
  hr
  p I want to test how works gitHub and how to use it with Atom Editor. I hope it's super cool :D
